<section class="section explained">
    <article class="explained__article">
        <h2 class="t-explained-header explained__title">
            <%= t(:explained_title_1) %>
            <bold><%= t(:explained_title_2) %></bold>
            <%= t(:explained_title_3) %>
        </h2>

        <p class="t-explained explained__note"><%= t(:explained_note) %></p>
    </article>

    <footer class="explained__footer">
        <ul class="explained__list">
            <li class="t-explained-title explained__item"><%= t(:explained_item_title_1) %></li>
            <li class="t-explained-title explained__item"><%= t(:explained_item_title_2) %></li>
        </ul>

        <ul class="explained__list">
            <li class="t-explained explained__item"><%= t(:explained_item_title_3) %></li>
            <li class="t-explained explained__item"><%= t(:explained_item_title_4) %></li>
        </ul>
    </footer>
</section>
